// @import "../../scss/index.scss";

.ui.grid.logged-layout{
    background-color: #021826;
    min-height: 100vh;
    padding: 0.5%;
    margin: 0;

    > .row{
        padding: 0;
        &:first-of-type{
            height: 93vh;
        }
        &:last-of-type{
            height: 5vh;
        }
        > .column{
            padding: 0;
        }
    }
    .content{
        
    }
}


