// .ui.inverted.selectable.table{
//     margin-top: 10px;
//     background-color: rgba(33, 40, 59, 1);
  
    
// }
// .testeFuncao{
//     margin-left: -10px;
//     margin-top: 10px;
//     width: 100%;
//     border-radius: 10px;
//     padding: 0px;
//     height: 70vh;
// }


.ui.grid.funcao{
    background-color: #21283b;
    width: 98%;
    margin-left: 10px;
    height: 89vh;
    border-radius: 10px;
}

.ui.inverted.selectable.table{
    background-color: #21283b;
}